body {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    background-image: url('img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    scroll-behavior: smooth;
}

.Navbar {
    background-color: #072f58;
    margin: 50px 30px;
    padding: 3px 30px;
    opacity: 0.9;
    box-shadow: #064584 5px 4px;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .logo-navbar img  {
    width: 60px;
    margin-left: 15px;
}

.container .navbar-link li {
    list-style: none;
    float: left;
    margin-right: 15px;
}

.container .navbar-link li a {
    display: inline-block;
    text-decoration: none;
    padding: 16px;
    font-size: 10;
    color: #eeee;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container .navbar-link li a:hover {
    color: #0d74dc;
}

.content {
    display: flex;
    margin: 80px 40px;
    background-color: lightgray;
    opacity: 0.8;
    justify-content: space-between;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: #eee 5px 4px ;
}

.content .homepage {
    color: #072f58;
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 40px;
}

.content .homepage h1 {
    font-size: 50px;
    -webkit-text-stroke: 1px #eeee;
}

.content .homepage h1 span {
    color: rgb(193, 63, 63);
}

.content .homepage p {
    font-size: 20px;
    margin-bottom: 28px;
}

.content .aside img {
    margin-right: 80px;
}

.content .homepage .btn-scroll a {
    text-decoration: none;
    font-weight: bold;
    background-color: #0d74dc;
    padding: 10px 20px;
    color: #eee;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.content .homepage .btn-scroll a:hover {
    background-color: #072f58;
}

.content-about {
    background-color: lightslategray;
    opacity: 0.9;
    margin-top: 131px;
    box-shadow: 1px 1px 1px 1px lightgray;
}

.content-about .header-about h1 {
    margin-top: 100px;
    padding: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;  
    font-weight: bold;
    justify-content: center;
    text-align: center;
    font-size: 25px;  
    color: #072f58;
}

.content-about .content-tech {
    display: flex;
}

.content-about .content-tech .tech-about {
    padding: 50px 50px;
    margin-top: 20px;
    margin-left: 150px;
    margin-bottom: 30px;
    margin-right: 150px;
    background-color: #eee;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}

.content-about .content-tech .tech-about  h3 {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content-about .content-tech .tech-about p {
    font-size: 20px;
}

.content-about .content-tech .tech-pict {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-article {
    padding: 2%;
    margin-top: 5px;
    background-color: lightslategray;
    opacity: 0.9;
    box-shadow: 1px 1px 1px 1px #eee;
}

.content-article .header-article h1 {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #072f58;
    text-align: center;
    text-decoration: underline;
    
}

.content-article .header-article span {
    color: rgb(212, 75, 75);
}

.content-article .content-news .news-card .card {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
}

.content-article .content-news .news-card .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}